{% extends 'base.html' %}
{% block head %}
    <title>ToDo App</title>
{% endblock %}
{% block content %}
    <div class="content">
        {% if title %}
            <h1 style="text-align:center">{{title}}</h1>
        {% else %}
            <h1 style="text-align:center">RSS FEED</h1>
        {% endif %}
        {% for cont in contents %}
        <article class="media" style="margin-bottom: 20px;">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ cont.id }}</a>
                <small class="text-muted">{{ cont.published }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ cont.title }}</a></h2>
                <p class="article-content">{{ cont.summary }}</p>
                <a class="article-content" href="{{ cont.link }}">{{cont.link}}</a>
            </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}

