{% extends 'base.html' %}
{% block head %}
    <title>ToDo App</title>
{% endblock %}
{% block content %}

    <div class="content">
        {% if title %}
            <h1 style="text-align:center">{{title}}</h1>
        {% else %}
            <h1 style="text-align:center">RSS FEED</h1>
        {% endif %}
        {% for cont in contents %}
        <div class="ml-4 ">
            <div class="news">
            <div class="news-preview">
                <img  class="img" src="{{cont.img_path}}" style="height:220px;max-width: 230px;">
            </div>
            <div class="news-info">
                <span class="progress-text">
                    {{cont.published}}
                </span>
                <h6><a href="{{ url_for('page', id=cont.id|string) }}">{{cont.title}}</a></h6>
                <p>{{cont.summary}}</p>
                <a href="{{cont.link}}">Read More</a>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}




